/* ---------------

            CRAETED BYE NEGAR GOLZAR

 */

@font-face {
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/AvenirNextLTPro-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nxzs2u');
  src:  url('fonts/icomoon.eot?nxzs2u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nxzs2u') format('truetype'),
    url('fonts/icomoon.woff?nxzs2u') format('woff'),
    url('fonts/icomoon.svg?nxzs2u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-allprojects:before {
  content: "\e900";
}
.icon-android:before {
  content: "\e901";
}
.icon-back:before {
  content: "\e902";
}
.icon-bootstrap:before {
  content: "\e903";
}
.icon-css:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-html:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-ios:before {
  content: "\e908";
}
.icon-jquery:before {
  content: "\e909";
}
.icon-laravel:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-mysql:before {
  content: "\e90c";
}
.icon-next:before {
  content: "\e90d";
}
.icon-php:before {
  content: "\e90e";
}
.icon-plus:before {
  content: "\e90f";
}
.icon-prev:before {
  content: "\e910";
}
.icon-submit:before {
  content: "\e911";
}
.icon-telegram:before {
  content: "\e912";
}
.icon-twitter:before {
  content: "\e913";
}
.icon-ui:before {
  content: "\e914";
}
.icon-ux:before {
  content: "\e915";
}
.icon-wordpress:before {
  content: "\e916";
}


body{
    padding: 0;
    margin: 0;
      font-family: Avenir;
    background-color: #f0f2f1;
}
a{
    text-decoration: none !important;   
    list-style-type: none;
}
.tx{
    text-align: center;
}
.nopadding{
    padding: 0 !important;
}
.navbar-toggle{
    float: right;
    margin-left:20px;
}
.navbar-link li{
    font-weight: bold;
    float: right !important;
   z-index: 99;
    direction: rtl;
    font-family: Avenir;
}

.navbar{
  padding: 10px 0;
    background-color:transparent!important;
    border-radius: 0;
    font-family: Avenir;
    font-size: 12px;
}
.navbar-nav>li{
    float: left;
     padding-right: 15px;
    font-family: Avenir;
}
.navbar-default .navbar-nav>li>a{
    color: #ffffff;
    padding-bottom: 0;
    font-size: 14px;
    font-family: Avenir;
   
}
li.logo {

    margin-top: -14px;
    text-align: center;
    border: none;
    font-family: Avenir;
}
.navbar-right{
    float: left !important;
    direction: rtl;
    padding-left: 70px;
    font-family: Avenir;
}
.navbar-default{
   background-color: #f1eee7;
    border: none;
    font-family: Avenir;
}
.navbar-default .navbar-toggle{
    border: none;
    margin-top: 12px;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #f1eee7;
}
.navbar{
    margin-bottom: 0;
    font-family: Avenir;
}

.navbar-nav{
    margin:0; 
    font-family: Avenir;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:white;
    border-bottom: 2px solid #968d7c;
    font-family: Avenir;
}
.navbar-left{
   color: #f05f44;
    font-size: 30px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 30px;
}
.banner-image{
    background-image: url(img/about-us.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
.banner-opacity-backgorund{
    width: 100%;
    height: 500px;
 background: rgba(166,155,135,1);
background: -moz-linear-gradient(left, rgba(166,155,135,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(166,155,135,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(166,155,135,1) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(166,155,135,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(166,155,135,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(166,155,135,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69b87', endColorstr='#ffffff', GradientType=1 );
    opacity: 0.9;
}
.navbar-nav{
    margin-top: 30px;
}
.page-title h1{
    font-weight: bold;
    position: absolute;
    bottom: 100px;
    left: 50px;
    font-size: 60px;
    font-family: Avenir;
    color: white;
}

.logo-header img{
        width: 160px;
    padding-top: 5px;
    float: left !important;
    margin-right: 70px;
    }
.about-us{
    background-color: #f3f7fa;
    width: 100%;
    height: auto;
    overflow: auto;
    font-family: Avenir;
}
.about-us p{
    line-height: 2;
    font-family: Avenir;
}
.about-us-1-section-img img{
    width: 100%;
    height: 500px;
}
.about-us-1-section-hr{
    margin: 50px auto;
    color: transparent;
    border-bottom: 10px solid #9c907a;
    margin-top: 200px;
    width: 50%;
    text-align: center;
    background-color: #9c907a;
    font-family: Avenir;
        
}
.about-us-1-section-text{
    text-align: left;
    direction: ltr;
   padding-top:100px;
    padding-right: 100px;
    font-family: Avenir;
    padding-left: 100px;
}
.about-us-1-section-text h2{
    color: black;
    font-weight: bold;
    margin-bottom:  50px;
    display: block;
    font-family: Avenir;
    
}
.section-2{
    background-color: white;
}
.section-3{
    background-color: #1f2c32;
}
.section-3-text h2{
    color: white;
}
.section-3-text p{
    color: #9c907a;
    line-height: 2;
}
.we-are-abron h2{
    font-weight: bold;
    margin-top: 190px;
    text-align: center;
}
.Members-info-box{
    height: auto;
    padding: 10px;
    background-color: #f3f7fa;
    overflow: auto;
    border-radius: 5px;
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;

}
.Members-info-box-img img{
    width:75%;
    height: auto;
    border-radius: 5px;
    position: absolute;
    z-index: 99;
    top: 15px;
    right: -35px;
    background-color: #9c907a;
    
    
}
.we-are-abron-p p{
    line-height: 2;
    margin: 30px auto;
    text-align: center;
}
.Members-info{
    margin: 20px auto;
        width: 100%;
    height: auto;
    overflow: auto;
}
.Members-info-box-text h4{
    font-weight: bold;
    direction: ltr;
    text-align: left;
}
.Members-info-box-text h6{
    font-weight: bold;
    margin-top: 10px;
      direction: ltr;
    text-align: left;
    color: #9c907a;
}
.Members-info-box-text{
  
}
.social-icons-member-section{
    margin-top: 50px;
    
}
.social-icons-member-section a{
    padding-right: 15px;
    color: #9c907a;
}
.social-icons-member-section a:hover{
   color: white;
}
.abron-back{
    background-color: white;
    width: 100%;
    height: auto;
    overflow: auto;
}
/*
.empty-box i{
     font-size: 25px;
    position: relative;
    top: 52px;
    right: -10px;
    float: right;
    z-index: 999;
    color: #ffffff;
}
*/
.conact-us h2{
    text-align: left;
    display: inline-block;
    font-weight: bold;
    padding-top: 50px;

}
.conact-us hr{
    border-bottom: 8px solid #9c907a;
    width: 5%;
    margin-bottom: 50px;
}
.addres-section{
    line-height: 2;
    margin-bottom: 50px auto;
    display: block;
}
.links-conect-us{
    margin-top: 50px;
}
.connect-links a{
    background-color: white;
    padding: 10px;
    margin-right: 15px;
    color: #9c907a;
}
.connect-links a:hover{
    color: #1f2c32;
        
}
.msg-part{
    background-color: white;
    padding: 20px 30px;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    display: block;
    border: none;
    outline: none;
    margin: 10px auto;
} 
.msg-part-text{
    height: 150px;
}
.send-btn{
    outline: none;
    border: none;
    background-color: #9c907a;
    color: white;
    padding: 10px;
    position: relative;
    top: -55px;
    float: right;
    right: 15px;
    border-radius: 5px;
}

.footer-2{
    background-color: #7a7a7a;
    width: 100%;
    height: auto;
    padding: 15px 10px;
    overflow: auto;
     font-family: IRANSansen;
}
.footer-contain span{
    color: #50575a;
    font-size: 10px;
    text-align: center;
    font-family: IRANSansen;
}
.footer-contain img{
    width: 30px;
    height: auto;
    margin-top: -5px;
    
}

/*---------------------------------works-page-----------------*/
.page-title p{
      font-weight: bold;
    position: absolute;
    bottom: 70px;
    left: 50px;
    font-family: Avenir;
    color: white;
    opacity: 0.7;
    width: 40%;
}
.works-img{
    background-image: url(img/works.png);
    background-position: ;
    background-size: cover;
}
.project-section{
    background-color: white;
    width: 100%;
    height: auto;
    overflow: auto;
    padding-bottom: 50px;
}
.back-of-project-box{
    height: auto;
    overflow: auto;
    padding: 15px;
    background-color: #f9f3f3;
    margin-top: 50px;
    position: relative;
}
.img-prpject-part img{
    width: 60%;
    height: auto;
    position: relative;
    top: -280px;
    right: 20px;
    float: right;
}
.part-3-img img{
    width: 57%;
    height: auto;
    position: relative;
    top: -280px;
    right: 20px;
    float: right;
}
.project-title{
    padding: 60px 40px;
    font-family: Avenir;
}
.project-title-tt h2{
    font-weight: bold;
    font-family: Avenir;
    margin-bottom: 20px;
}
.project-title-tt hr{
    border-bottom: 5px solid #9c907a;
    display: inline-block;
    background-color: #9c907a;
    font-family: Avenir;
    width: 40px;
}
.project-title-content p{
    line-height: 2;
    text-align: left;
    direction: ltr;
    font-family: Avenir;
    margin-bottom: 30px;
}
.more-btn{
    color: black;
    padding: 5px;
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 20px;
    
}
.more-btn:hover{
      border-bottom: 2px solid #9c907a;
    color: black;
}
.part-2-img img{
    float: left;
    left: 20px;
    width: 26%;
}
.part-3-img img{
    float: left;
    left: 20px;
}
.box-2{
    background-color: #eff9f8;
}
.box-3{
    background-color: #f4e8f2;
}
.load-more-btn{
    color: black;
    padding: 10px 20px;
    text-align: center;
    background-color: #f3f7fa;
}
.load-more-btn:hover{
    color: black;
}
.box-projects{
    height: auto;
    overflow: auto;
    width: 100%;
}
.logos-part i{
       font-size: 70px;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    display: inline-block;
    color: #7a7a7a;
}
.logos-part{
    height: auto;
    width: 100%;
    overflow: auto;
    background-color: #f3f7fa;
}
.logo-section-p p{
    margin: 30px auto;
    line-height: 2;
    text-align: center;
    direction: ltr;
}
/*----------------------------------project-page---------------*/

.project-img{
    background-image: url(img/aprika-cover.png);
    background-size: cover;
}
.page-title h4 a{
    color: white;
    left: 50px;
    top: 200px;
    position: absolute;
    font-family: Avenir;
}
.page-title h4 a:hover{
    color: white;
    font-family: Avenir;

}
.other-page-links-btn{
    position: absolute;
    right: 20px;
    bottom: 85px;
}
.visit-project-link{
    padding: 10px 30px;
    border-radius: 15px;
    margin: 10px;
    background-color: white;
    color: black;
    font-family: Avenir;
}
.visit-project-link:hover{
    background-color: white;
    color: #263961;
    font-family: Avenir;
    opacity: 1;
}
.work-procress-btn{
     padding: 10px 30px;
    border-radius: 15px;
    margin: 10px;
    background-color: #263961;
    opacity: 0.6;
    color: white;
}
.work-procress-btn:hover{
    background-color: white;
    color: black;
    opacity: 1;
}
.body-project{
    width: 100%;
    background-color: white;
    height: auto;
    overflow: auto;
    font-family: Avenir;
}
.part-01-img img{
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 20px;
}
.part-01-content{
    padding: 100px 50px;
    text-align: left;
    direction: ltr;
}
.numbers{
  color: #9c907a;
    border-bottom: 3px solid #9c907a;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}
.part-01-content h1{
    font-weight: bold;
}
.part-01-content p{
    line-height: 2;
    direction: ltr;
    text-align: left;
    margin: 20px 0;
    
}
.part-02-content{
    text-align: center;
    padding: 50px;
}
.part-02-content p{
    text-align: center;
}
.part-04-logos i{
    font-size: 60px;
    color: #7a7a7a;

}
.part-04-logos{
        margin-bottom: 30px;
}
.footer-1{
    background-color: #354346;
    width: 100%;
    height: auto;
    padding: 10px;
    overflow: auto;
}
.next-prev{
    color: white;
    font-size: 14px;
    padding: 40px 10px;
}
.next-prev i{
    padding: 15px;
}
.next-prev-borders{
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.page-title-pr h1{
    bottom: 25px;
}
/*-------------------------media------------------------------*/
@media only screen and (min-width:1025px){
    .Members-info-box-img img{
        width: 62%;
    }
}
@media only screen and (max-width:1025px){
    .navbar{
        font-size: 10px;
    }
}
@media only screen and (max-width:770px){
    .nav>li>a{
        padding: 11px 6px;
    }
}
@media only screen and (max-width:992px){

   .navbar-left{
        padding-top: 0;
       padding-left: 0;
       padding-right: 10px !important;
    }
    .navbar-nav {
        font-size: 9px;
        padding: 0;
        
    }
    .social-icons-member-section{
        margin-top: 20px;
    }
     .Members-info-box-img img{
        width: 82%;
         top: 11px;
    }
    .about-us-1-section-text{
        padding:100px 20px 10px 20px;
    }
        .addres-section{
        margin-bottom: 50px;
    }
        .page-title p {
    bottom: 35px;
    width: 60%;
  }
    .part-2-img img{
    width: 23%;
   }
    .part-01-content{
        text-align: center;
    }
    .part-01-content p{
        text-align: center;
    }
}
@media only screen and (max-width:480px){
    .navbar-nav{
        padding-top: 10px;
    }
    .navbar-left {
    position: absolute;
    right: 50%;
    margin-right: -61px;
    top: 0px;
    font-size: 23px !important;
        margin-top: 10px;
}

 .navbar-nav>li>a:hover{
     color: white!important;
    }

    .navbar-default{
   background-color: black;
    border: none;
}
    .navbar-right{
      margin-top: -10px !important;  
    margin-right: 0 !important;
    }
    .navbar-right li {
    direction: ltr;
    text-align: right;
    float: none;
    }
    .navbar-default .navbar-nav>li>a{
        float: left
    }
    .about-us-1-section-hr{
        margin-top: 50px;
    }
    .about-us-1-section-text{
        padding: 20px;
        text-align: center;
    }
    .we-are-abron h2{
        margin-top: 40px;
        font-size: 24px;
    }

    .Members-info-box-img{
        padding: 0;
    }
    .Members-info-box-img img{
        right: 20px;
        width: 84%;
        top:12px;
    }
    .Members-info-box{
        float: right;
        width: 85%;
    }
    .connect-links{
        text-align: center;
    }
    .img-prpject-part img{
          width: 85%;
          top: -500px;
    }
    .project-title-content p {
    margin-top: 250px;
     }
 .part-2-img img{
    width: 35%;
   }
    .part-3-img img{
        width: 55%:
    }
    .part-3-img img {
    width: 85%;
    top: -515px;
}
       .project-title-content p{
        padding: 0;
    }
    .project-title{
        padding: 40px 10px;
    }
           .page-title p {
    bottom: 25px;
    width: 80%;
  }
    .part-01-content{
        padding: 100px 10px;
    }
    .next-prev{
        font-size: 10px;
    }
    .next-prev i{
        padding: 2px;
    }
    .other-page-links-btn{
        bottom: 180px;
        text-align: center;
    }
    .page-title h1{
        font-size: 54px;
        left: 35px;
    }
 

}
@media only screen and (max-width:370px){
     .logo-header img{
        width: 133px;
}
        .Members-info-box{
        width: 85%;
        float: right;
    }
    .Members-info-box-img img{
        right: 0;
        width: 100%;
    }
      .img-prpject-part img{
          width: 85%;
          top: -490px;
    }
    .project-title-content p {
    margin-top: 170px;
    }
        .part-2-img img{
    width: 35%;
   }
        .part-3-img img {
    width: 85%;
    top: -530px;
}
    .visit-project-link{
        padding: 10px;
    }
    .work-procress-btn{
        padding: 10px;
    }
    .we-are-abron h2 {
    margin-top: 43px;
    font-size: 20px;
}
    
}


